:root {
  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;

  /* Typography Styles */
  --font-family: 'Roboto', sans-serif;
  --logo-family: 'Raleway', sans-serif;

  --logo-size: 18px;
  --logo-weight: 700;
  --logo-spacing: 0.54px;
  --logo-line-height: 116.667%;
  --logo-color-first: #4d5ae5;
  --logo-color-second: #2e2f42;
  --logo-color-third: #f4f4fd;
  --logo-text-transform: uppercase;
  --logo-style: normal;

  --h1-size: 56px;
  --h1-weight: 700;
  --h1-spacing: 0.02em;
  --h1-line-height: 1.07;

  --h2-size: 36px;
  --h2-weight: 700;
  --h2-spacing: 0.02em;
  --h2-line-height: 1;

  --h3-size: 20px;
  --h3-weight: 500;
  --h3-spacing: 0.02em;
  --h3-line-height: 1;

  --body-size: 16px;
  --body-weight: 400;
  --body-line-height: 1.5;
  --body-spacing: 0.02em;

  --small-size: 12px;
  --small-weight: 400;
  --small-line-height: 1.17;
  --small-spacing: 0.04em;

  --medium-size: 16px;
  --medium-weight: 500;
  --medium-line-height: 1.5;
  --medium-spacing: 0.02em;

  --button-text-size: 16px;
  --button-text-weight: 500;
  --button-text-line-height: 1.5;
  --button-text-spacing: 0.04em;

  --link-size: 12px;
  --link-weight: 400;
  --link-line-height: 1.33;
  --link-spacing: 0.04em;
  --link-decoration: none;
}

h1 {
  font-family: var(--font-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  letter-spacing: var(--h1-spacing);
  line-height: var(--h1-line-height);
}

h2 {
  font-family: var(--font-family);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  letter-spacing: var(--h2-spacing);
  line-height: var(--h2-line-height);
}

h3 {
  font-family: var(--font-family);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  letter-spacing: var(--h3-spacing);
  line-height: var(--h3-line-height);
}

body {
  font-family: var(--font-family);
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-spacing);
  color: var(--navy-blue);
}

button {
  font-family: var(--font-family);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);
  line-height: var(--button-text-line-height);
  letter-spacing: var(--button-text-spacing);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  border: none;
}

button:hover,
button:focus {
  background-color: var(--ocean);
}

.link {
  font-family: var(--font-family);
  font-size: var(--link-size);
  font-weight: var(--link-weight);
  line-height: var(--link-line-height);
  letter-spacing: var(--link-spacing);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  font-family: var(--logo-family);
  font-size: var(--logo-size);
  font-weight: var(--logo-weight);
  line-height: var(--logo-line-height);
  letter-spacing: var(--logo-spacing);
  text-transform: var(--logo-text-transform);
  color: var(--logo-color-second);
  text-decoration: none;
}

.logo-web {
  color: var(--logo-color-first);
}

.footer-logo {
  color: var(--logo-color-third);
}

footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
}

header address a {
  color: var(--slate);
  text-decoration: none;
}

header address a:hover,
header address a:focus {
  color: var(--ocean);
}

#team {
  background-color: var(--cloud);
}
#team li {
  background-color: var(--white);
}

.top-line {
  color: var(--navy-blue);
  text-decoration: none;
}

.top-line:hover,
.top-line:focus {
  color: var(--ocean);
}
.hero {
  background-color: var(--navy-blue);
  color: var(--white);
}
